#background_color {
    width: 100%;
    background-size: contain;
    background-size: cover;
    background-color: rgb(33, 3, 0);
    /* 不支持线性的时候显示 */
    background-image: linear-gradient(to bottom right, rgb(15, 23, 31), rgb(0, 0, 0));
    color: white;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 5px;
    background-size: contain;
    background-size: cover;
    background-color: #474747;
    background-image: linear-gradient(to bottom right, rgb(0, 128, 255), rgb(0, 255, 64));
    color: #ffffff;
}

